@{
    ViewData["Title"] = "Home Page";
}
    <form>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <input type="submit" value="submit" asp-action="AddMessagesToQueue" asp-controller="Home" />
    </form>